{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/arrow.svg" width="24px" height="24px">
        </button>
        <button class="button">
            <img src="/img/avatar.png" width="24px" height="24px">
        </button>
    </header>


    <h1 class="title">Ком'юніті</h1> --}}

    {{!-- //==========================================================================================================
    --}}
    {{!-- <main class="post_list">
        <div class="list">
            <a class="list_item button" href="#">
                База знань
            </a>
            <a class="list_item button" href="#">
                Інформація
            </a>
        </div>
        <img src="/img/community.jpg">
        <h1 class="title_info">Що таке база знань?</h1>
        <p class="info">База знань - база даних, що містить правила виведення та інформацію про людський досвід і
            знання в деякій предметній
            галузі. У системах, що самонавчаються, база знань також містить інформацію, що є результатом вирішення
            попередніх
            завдань.</p>
        <a class="orange_button button" href="#">
            Перейти до ком'юніті у Телеграм
        </a>
    </main> --}}

</div>
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}