{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/arrow.svg" width="24px" height="24px">
        </button>
        <button class="button">
            <img src="/img/avatar.png" width="24px" height="24px">
        </button>
    </header> --}}


    {{!-- <h1 class="title">Мій блог</h1> --}}

    {{!-- <main class="post_list">
        <div class="post button">
            <div class="post_header">
                <div class="post_category_list">
                    <span class="post_category post_category_1">Важливо</span>
                    <span class="post_category post_category_2">Нова</span>
                </div>
                <span class="post_date">25.01</span>
            </div>
            <p class="post_info">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
        </div>

        <div class="post button post_viewed">
            <div class="post_header ">
                <div class="post_category_list">
                    <span class="post_category post_category_1">Важливо</span>
                    <span class="post_category post_category_2">Нова</span>
                </div>
                <span class="post_date">15.01</span>
            </div>
            <p class="post_info">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак
                самопрезентацій.
            </p>
        </div>

    </main> --}}
</div>
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}